<!doctype html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	
    <title>Twitter</title>
  </head>
  <body style="
  	background: url('{% static "image/splash.jpg" %}') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  height: 100vh;>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    
		<div class="container">
			

			{% if request.GET.error %}
				<p>Try again.</p>
			{% endif %}


			<div class="d-flex align-items-center justify-content-center" style="height: 100vh">
    
      
				<div class="container align-items-center justify-content-center"  style= "background-color: rgba(245, 245, 245, 0.0); width: 30vw; ">
					<h1 style=" margin-bottom: 2rem; text-align: center; font-size: 75px;"> Welcome</h1>
					<div class="card" style="background-color: rgba(245, 245, 245, 0.95); border-radius: 20px; width: 30vw; ">
						<div class="card-body align-items-center justify-content-center" >
							<h1>Sign Up</h1>
							<br>
							<form method="POST" action="/signup" >
									{% csrf_token %}
									<input name="username" placeholder=" username" style="background-color:white;border:none; border-radius: 5px; margin-bottom: 10px; margin-left:10%; width: 80%;" />
									
									<input name="email" placeholder=" email" style="background-color: white; border:none;border-radius: 5px;margin-bottom: 10px; margin-left:10%; width: 80%;"/>
									<input name="password" placeholder=" password" type="password" style="background-color:white; border:none;border-radius: 5px;margin-bottom: 10px; margin-left:10%; width: 80%;"/>
									<input name="bio" placeholder=" bio" type="bio" style="background-color: white; border:none;border-radius: 5px;margin-bottom: 10px; margin-left:10%; width: 80%;"/>
									<br>
									<input type="submit" value="Sign Up"style="background-color: #78b3d0; color: white; border:none;border-radius: 5px;margin-bottom: 10px; margin-left:33.3%; width: 33.3%;"/> 
							</form>

							<h1>Log In</h1>
							<br>
							<form method="POST" action="/login">
									{% csrf_token %}
									<input name="username" placeholder="username" style="background-color: white; border:none;border-radius: 5px;margin-bottom: 10px; margin-left:10%; width: 80%;"/>
									<input name="password" placeholder="password" type="password" style="background-color: white; border:none;border-radius: 5px;margin-bottom: 10px; margin-left:10%; width: 80%;"/>
									<input type="submit" value="Log In" style="background-color: #78b3d0; color: white; border:none;border-radius: 5px;margin-bottom: 10px; margin-left:33.3%; width: 33.3%;"/>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>